.list-items-container
  display: flex
  flex-flow: row wrap

.list-item-container
  width: 30%
  margin: 0.5rem
  background-color: white
  border-radius: 20px

.list-item-container__inner
  padding: 1.5rem

.list-item__name
  min-height: 2rem
  color: $accent
  font-size: .75rem
  font-weight: bold
  letter-spacing: .25rem

.list-item__description
  min-height: 2rem
  word-wrap: break-word
  color: $gray
  font-size: 0.5rem
  letter-spacing: .05rem
  line-height: 1.4

.list-item__status
  padding: 1rem 0
  color: $gray
  font-size: 0.5rem
  letter-spacing: .05rem

.list-item__buttons
  display: flex
  justify-content: center

.list-item__button__milk
  padding: 0.5rem 1.5rem
  border: solid 4px
  font-size: 0.75rem
  font-weight: bold
  letter-spacing: .25rem
  color: $water
  &:hover
    background: $water
    color: $white

.list-item__button__review
  padding: 0.5rem 1.5rem
  border: solid 4px
  font-size: 0.75rem
  font-weight: bold
  letter-spacing: .25rem
  color: $pink
  &:hover
    background: $pink
    color: $white
